body {
    padding-top: 60px !important;
    min-width: 300px;
    background-color: #E6E6E6;
}

div.card-body {
    padding: 0px;
}

#ig-text-navbar { 
    font-family: 'Newsreader', serif;
    color: #333;
    text-decoration: none !important;
} 

#img1, #img2, #img3, #img4, #img5, #img6, #img7, #img8, #img9 {
    object-fit: cover;
    max-height: 500px;
}

#contenedorFotos {
    width: 70%;
    margin: auto;
}

#navBar {
    background-color: #C4C4C4 !important;
}

