body {
    padding-top: 60px !important;
}

#ig-text-navbar { 
    font-family: 'Newsreader', serif;
    color: #333;
    text-decoration: none !important;
} 

#img1, #img2, #img3 {
    object-fit: cover;
}


/*.btn-outline-light:focus {
    background: darkgray !important;
    color: white !important;
}

.fa-th:focus {
    color: black;
}

.fa-square:focus, .fa-square:active {
    color: black !important;
}*/