body {
    padding-top: 60px !important;
}

#ig-text-navbar { 
    font-family: 'Newsreader', serif;
    color: #333;
    text-decoration: none !important;
} 

#img1, #img2, #img3 {
    object-fit: cover;
}

#contenedorFotos {
    width: 70%;
    margin: auto;
}

#navBar {
    background-color: #C4C4C4 !important;
}